<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="768593577687-f1a6it1fq9s9vkqe73ij8c3fkrdav338.apps.googleusercontent.com">
</head>
<body>
    

    <!-- afsd
    <meta name="google-signin-client_id" content="768593577687-f1a6it1fq9s9vkqe73ij8c3fkrdav338.apps.googleusercontent.com"> -->
</body>
</html>