<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/search.css">
</head>
<body>
    <div id="top_m">
        <div id="top_contents_container">
            <div id="logo">
                <p>경일직업능력개발원</p>
            </div>
            <ul>
                <li><a href="">administrator</a></li>
                <li><a href="">시설소개</a></li>
                <li><a href="">교육과정</a></li>
                <li><a href="">취업정보</a></li>
                <li><a href="">커뮤니티</a></li>
                <li><a href="">상담신청</a></li>
                <li><a href="">방문자정보</a></li>
            </ul>
        </div>
    </div>
    <div id="contents_m">
        <div id="left_contents_container_m">
            <ul>
                <li class="manager_mode_m">
                    <p><a href="">관리자모드</a></p>
                    <ul>
                        <li><span>{{resu.level}}  :  </span><span><a href="">   로그인</a></span></li>
                        <li><span id="manager_name_m"></span></li>
                        <li><span>현재 시간</span></li>
                    </ul>
                </li>
                <li class="left_menu_m">
                    <table class="left_menu_table_m">
                        <thead>
                            <tr>
                                <th>좌측메뉴</th>
                            </tr>
                        </thead>                    
                        <tbody>
                            <tr>
                                <td>
                                    <ul id="list_column_m">
                                        <li><a href="">관리자리스트</a></li>
                                        <li><a href="">사이트환경설정</a></li>
                                        <li><a href="">게시판생성관리</a></li>
                                        <li><a href="">게시판그룹관리</a></li>
                                        <li><a href="">팝업관리</a></li>
                                        <li><a href="">메인비쥬얼[보임]</a></li>
                                        <li><a href="">메인비쥬얼[숨김]</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
        <div id="main_container_m">
            <div id="main_container_top_m">
                <p>관리자리스트</p>
                <form>
                    <fieldset>
                        <legned>관리자리스트</legned>
                        가입일자 : <input type="date">
                        검색조건 : 
                                  <select name="search_condition_m">
                                      <option value="name">이름</option>
                                      <option value="class_name">반</option>
                                  </select>
                                  <input type="text">
                        <input type="submit" value="검색">
                        <input type="reset"  value="초기화">
                    </fieldset>
                </form>
            </div>
            <div id="main_container_main_m">
                <button class="admin_add_popup" onclick="openAdminAdd()">관리자 추가</button>
                <form action="/admin/admin_add" method="post" style="display: none;">
                    <label for="name" id="admin_label">이름</label>
                    <input type="text" placeholder="이름" name="name" required>
                    <label for="idx" id="admin_label">아이디</label>
                    <input type="text" placeholder="아이디" name="idx" required>
                    <label for="psw" id="admin_label">비밀번호</label>
                    <input type="password" placeholder="비밀번호" name="psw" required>
                    <label for="birth" id="admin_label">생년월인</label>
                    <input type="date" placeholder="생년월일" name="birth" required>
                    <label for="courseName" id="admin_label">직무</label>
                    <input type="text" placeholder="직무" name="courseName" required>
                    <label for="level" id="admin_label">관리자등급</label>
                    <input type="text" placeholder="등급" name="level" required>
                    <label for="Tel" id="admin_label">연락처</label>
                    <input type="tel" placeholder="연락처" name="tel" required>
                    <label for="startDate" id="admin_label">입사일</label>
                    <input type="date" placeholder="입사일" name="startDate" required>
                    <label for="Email" id="admin_label">이메알</label>
                    <input type="email" placeholder="이메일" name="email" required>
                    <label for="img" id="admin_label">사진</label>
                    <input type="file" placeholder="image" name="img" required>
                    <input type="submit" value="관리자 추가">
                </form>
                <form action="/admin/searched_data" id="searched_form" method="POST">
                        <div>
                            <label for="number" id="admin_label">번호</label>
                            <input type="number" value="{{resu.id}}" name="Id" id="admin_input" required>
                        </div>
                        <div>    
                            <label for="name" id="admin_label">이름</label>
                            <input type="text" value="{{resu.name}}" name="Name" id="admin_input" required>
                        </div>
                        <div>   
                            <label for="level" id="admin_label">등급</label>
                            <input type="text" value="{{resu.level}}" name="Level" id="admin_input" required>
                        </div>
                        <div>
                            <label for="idx" id="admin_label">아이디</label>
                            <input type="text" value="{{resu.idx}}" name="Idx" id="admin_input" required>
                        </div>
                        <div>    
                            <label for="img" id="admin_label">연락처</label>
                            <input type="tel" value="{{resu.tel}}" name="Tel" id="admin_input" required>
                        </div>
                        <div>    
                            <label for="email" id="admin_label">이메일</label>
                            <input type="email" value="{{resu.email}}" name="Email" id="admin_input" required>
                        </div>
                        <div>    
                            <label for="startDate" id="admin_label">가입일</label>
                            <input type="date" value="{{getDate}}" name="StartDate" id="admin_input" required>
                        </div>
                        <div class="submit">
                            <input type="submit" value="삭제" name="delete" id="submit">
                            <input type="submit" value="수정" name="modify" id="submit">
                        </div>
                
                </form>
            </div>
        </div>
    </div>
</body>
</html>