
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="/css/admin/search.css">
    <link rel="stylesheet" href="/css/admin/board.css">


</head>
<body>
<div id="total_container">
    <div id="top_container_c">
        
        {% block content %}
        {% endblock %}
    </div>
    {% if subBoard.contentType==1 %}
    
        <p>여기는 갤러리 형식</p>

    {% elif subBoard.contnetType==0 %}

        <p>여기는 형식이 0</p>
     
     {% else %}
    <div id="contents_container_c">
        {% block tableContents %}
        {% endblock%}
    </div>
    {% endif %}
</div>
</body>
</html>