<link rel="stylesheet" href="/css/admin/community.css">

<div id="make_community">
    <button onclick="formBtn()">세부 항목 생성</button>
    <div id="community_form"  style="display: none;">
        <form action="/admin/community/m_contents?id={{id}}&idx={{idx}}" method='POST' id="write_new">
            <label for="mainBoard">mainboard</label>
            <input type="text" name="mainBoard">
            <label for="subBoard">subboard</label>
            <input type="text" name="subBoard">
            <label for="title">title</label>
            <input type="text" name="title">
            <label for="contents">contents</label>
            <input type="text" name="contents">
            <label for="file">첨부파일</label>
            <input type="file" name="file">
            <label for="img">첨부이미지</label>
            <input type="file" name="img">
            <label for="writeaut">writeaut</label>
            <input type="text" name="writeaut">
            <label for="readaut">readaut</label>
            <input type="text" name="readaut">
            <label for="replyaut">replyaut</label>
            <input type="text" name="replyaut">
            <input type="text" name="id" value={{id}} style="display: none;">
            <input type="text" name="idx" value={{idx}} style="display: none;">
            <input type="number" name="count" value="0" style="display:block">
            <input type="submit" value="추가 생성">
        </form>
    </div>
</div>



<script type='text/javascript'>
    function formBtn(){
        let form = document.querySelector('#community_form')
        form.style.display="block"
    }
</script>