{% extends './community.html'%}




{% block content %}
<div id="total_container">    
    <div id="top_m">
        <div id="top_contents_container">
            <div id="logo">
                <p>경일직업능력개발원</p>
            </div>
            <ul>
                <li><a href="/admin/mainBoard_category?idx=administrator">administrator</a></li>
                <li><a href="/admin/mainBoard_category?idx=시설소개">시설소개</a></li>
                <li><a href="/admin/mainBoard_category?idx=교육과정">교육과정</a></li>
                <li><a href="/admin/mainBoard_category?idx=취업정보">취업정보</a></li>
                <li><a href="/admin/mainBoard_category?idx=커뮤니티">커뮤니티</a></li>
                <li><a href="/admin/mainBoard_category?idx=상담신청">상담신청</a></li>
                <li><a href="/admin/mainBoard_category?idx=방문자정보">방문자정보</a></li>
            </ul>
        </div>
    </div>
    <div id="left_contents_container_m">
        <ul>
            <li class="manager_mode_m">s
                <p><a href="">관리자모드</a></p>
                <ul>
                    <li><span>{{resu.level}}  :  </span><span><a href="">   로그인</a></span></li>
                    <li><span id="manager_name_m"></span></li>
                    <li><span>현재 시간</span></li>
                </ul>
            </li>
        </ul>
        <ul id="community_left_m">
            <li><p>좌측메뉴</p></li>
            {% set res = subBoard%}
            {% for item in res %}
                <li><a href="/admin/sub_board_search?idx={{res[loop.index-1].mainBoard}}&id={{res[loop.index-1].subBoard}}">{{res[loop.index-1].subBoard}}{{[loop.index]}}</a></li>
            {% endfor %}

        </ul>
    </div>
    <!-- <div id="">
        {% set res = resu %}
        {% for item in res %}
            {{res[loop.index-1].id}}
        {% endfor %}
    </div> -->
    <a href="/admin/community_write">글쓰기</a>
</div>


top의 내용입니다.
{% endblock %}'
'
{% block tableContents %}
<form action="/admin/community">
    <div id='community_table_content'>
            <table border="1">
                <th>번호</th>
                <th>제목</th>
                <th>보임/숨김</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>첨부파일</th>
                <th>수정</th>
                <th>삭제</th>
                {% set res = noticeres %}
                <!-- noticeres -> communitycontroller에 내용있음 community테이블에서 가져온 것 -->
                {% for item in res %}
                <tr>
                    <td>
                        <a href="/admin/sub_board_search?idx={{res[loop.index-1].mainBoard}}&id={{res[loop.index-1].subBoard}}"></a>
                    </td>
                    <td>
                        <a href="/admin/sub_board_search?idx={{res[loop.index-1].mainBoard}}&id={{res[loop.index-1].subBoard}}">{{res[loop.index-1].title}}</a>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <input type="text" value="{{[loop.index-1]}}">
                    </td>
                    <td>
                        <input type="text" value="{{res[loop.index-1].title}}" name="title">
                    </td>
                    <td>
                        <input type="text" name="readaut">
                    </td>
                    <td>
                        <input type="text" name="writer">
                    </td>
                    <td>
                        <input type="number" name="count">
                    </td>
                    <td>
                        <input type="file" name="file">
                    </td>
                    <td>
                        <input type="text" name="writeaut">
                    </td>
                    <td>
                        <input type="text" name="replyaut">
                    </td>
                </tr> -->
                {% endfor %}
            </table>

    </div>

</form>
{% endblock %}

