<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="button" value="수강생추가">
    
    <table border="1">
        <th>이름</th>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>수강명</th>
        <th>수강료 지급상태</th>
        <th>생년월일</th>
        <th>등록일</th>
        <th>연락처</th>
        <th>주소</th>
        <th>취업여부</th>
        <th>포트폴리오</th>
        <th>기타사항</th>
        <th>사진</th>
        <tr>
            <td>name</td>
            <td>idx</td>
            <td>psw</td>
            <td>courseName</td>
            <td>paycheck</td>
            <td>userBirth</td>
            <td>created_at</td>
            <td>userTel</td>
            <td>userAddress</td>
            <td>employmentStatus</td>
            <td>portfolio</td>
            <td>userEtc</td>
            <td>userImg</td>
        </tr>
    </table>

</body>
</html>