<ul>
    <li>
        <ul>
            <li><a href="">인사말</a></li>
            <li><a href="">연혁</a></li>
            <li><a href="">교직원 소개</a></li>
            <li><a href="">시설소개</a></li>
            <li><a href="">오시는 길</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a href="">과정안내</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a href="">취업자인터뷰</a></li>
            <li><a href="">취업현황</a></li>
            <li><a href="">포트폴리오</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a href="">공지사항</a></li>
            <li><a href="">수강후기</a></li>
            <li><a href="">ki이야기</a></li>
            <li><a href="">ki기자단</a></li>
            <li><a href="">교수칼럼</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a href="">상담게시판</a></li>
            <li><a href="">지원하기</a></li>
            <li><a href="">자주묻는질문</a></li>
        </ul>
    </li>
</ul>