#community_left_m{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border:1px solid black;
    padding-left: 70px;
    margin-left: 40px;
}
#community_table_content{
    padding: 20px;

}
#community_table_content th{
padding: 10px;
}
