body{margin: 0 ; padding: 0 ;}
*{ box-sizing: border-box;}
a{text-decoration: none; color:black}
ul li{list-style: none;}
.login-content{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color:#666;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-content label{
    width: 100px;
    height: 40px;
    margin: 0;
    padding:0;
}
.login-content input{
    width: 200px;
    height: 30px;
    margin-left: 20px;
}
.login-content button{
    width: 100px;
    margin-top: -20px;
    margin-left: 300px;
}
