<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul li{
            list-style: none;
        }
        li{
            float:left;
            margin-right: 50px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/admin/col">학교소개</a></li>
        <li><a href="/admin/course">교육과정</a></li>
        <li><a href="/admin/jobinfo">취업정보</a></li>
        <li><a href="/admin/comm">커뮤니티</a></li>
        <li><a href="/admin/consult">상담신청</a></li>        
    </ul>
    
    <!-- <form id="board_status">
        <label for="boardName">board Name</label>        
        <input type="text" id="board_name" name="boardName">
    </form>
    <label for="used_board">게시판 현황</label>
    <select name="used_board" id="used_board" form="board_status">
        <option value="schInfo">학교소개</option>
        <option value="curr">교육과정</option>
        <option value="jobInfo">취업정보</option>
        <option value="comm">커뮤니티</option>
        <option value="apply">상담신청</option>
    </select> -->
</body>
</html>