<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        ul{
            display: flex;  
            flex-direction: row;
        }
        ul>li{
            margin-right: 50px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="">인사말</a></li>
        <li><a href="">연혁</a></li>
        <li><a href="">교직원소개</a></li>
        <li><a href="">시설소개</a></li>
        <li><a href="">오시는 길</a></li>
    </ul>
    <a href="">삭제</a>
    <a href=""></a>
    <button></button>
    <form id="carform">
        <label for="tableName">테이블명</label>
        <input type="text" id="tableName" name="talbeNAme">
    </form>
    <label for="write_type">스킨</label>
    <select name="write_type" id="write_type" form="carform">
        <option value="text">text</option>
        <option value="img">img</option>
    </select>
</body>
</html>