<footer>
    <ul id="footers">
        <li>
            <ul>
                <li><a href="#">학교소개</a></li>
                <li><a href="#">교육과정</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">상담신청</a></li>
                <li><a href="#">개인정보처리방침</a></li>
            </ul>
        </li>
        <li>
            <img src="http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png">
            <ul>
                <li>
                    <p>site info</p>
                    <p>copy right</p>
                </li>
                <li>
                    <p>대표자</p>
                    <p>사업자등록번호</p>
                    <p>tel</p>
                </li>
                
                
            </ul>
        </li>
    </ul>

    
</footer>